pkgbase = maturin
	pkgdesc = Build and publish crates with pyo3, rust-cpython and cffi bindings
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/PyO3/maturin
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = bzip2
	makedepends = gcc-libs
	makedepends = git
	makedepends = glibc
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	makedepends = rust
	options = !lto
	source = https://github.com/PyO3/maturin/archive/v1.4.0/maturin-v1.4.0.tar.gz
	sha512sums = c86afdeb694c2fe4b9b94a7bf5f657f9337d3b6179a3d430a26608353d4de7c463a3860e87225356cfe66f1111240717851173403c66a8c30ed3acf7c1d2afdb
	b2sums = f7b03ab106b180a6b274ddee112e85197abb7518e5cc741afd653cdecbaad3ceb2225218c8f58ee45d562c168a51b69174505cef9d0b1d69cf3aed981ba7d892

pkgname = maturin
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = rust

pkgname = python-maturin
	pkgdesc = Build and publish crates with pyo3, rust-cpython and cffi bindings - Python bindings
	depends = maturin=1.4.0
	depends = python
