pkgbase = maturin
	pkgdesc = Build and publish crates with pyo3, rust-cpython and cffi bindings
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/PyO3/maturin
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = bzip2
	makedepends = gcc-libs
	makedepends = git
	makedepends = glibc
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	makedepends = rust
	options = !lto
	source = https://github.com/PyO3/maturin/archive/v1.5.0/maturin-v1.5.0.tar.gz
	sha512sums = fa30ceafae02b72bae772ee0cb99af1394f258ef37574b9a46cec9528615cac896cdf9a0540c5c5a9b0d7500993d8313c1afc24d4b5337c43d0fbcf8203d8048
	b2sums = 804198a313aa413c251e4dfd3f399bb9c5826234a9caf1422d770e4becca85b79d237c11c4920b60fee43550d174ffb9b7dfb12036af89fc31e6a36e7e3f317d

pkgname = maturin
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = rust

pkgname = python-maturin
	pkgdesc = Build and publish crates with pyo3, rust-cpython and cffi bindings - Python bindings
	groups = python-build-backend
	depends = maturin=1.5.0
	depends = python
